


.flowers {
    font-size: x-large;
    font-family: fantasy;
    font-weight: 400;
    background-color:grey;
}

.subject-heading {
    font-size: xx-large;
    font-family: fantasy;
    font-weight: 900;
    font-stretch: extra-expanded;
    color: rgb(33, 208, 30);
}

.locations {

    font-family: fantasy;
    color: lightgray
}


.logo {
    background: url("../images/rowing-boats-chesilbeach.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.container {

    color: olivedrab;
}
