
.flowers {
    background-color:blue;
}

.subject-heading {
    font-size: xx-large;
    font-family: fantasy;
    font-weight: 900;
    font-stretch: extra-expanded;
    color: brown;
}

.locations {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: greenyellow
}


.logo {
    background: url("../images/flowerpath.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.container {

    color: olivedrab;
}
